<div id = "wrapper">
	<h1> Connect Four </h1>

	<div id = "playerarea">
		<div id = "p1area">
			<h3> Player 1 (Black) </h3>
			<form>
				Wins: <input type = "text" readonly = "true">
			</form>
		</div>

		<div id = "p2area">
			<h3> Player 2 (Red) </h3>
			<form>
				Wins: <input type = "text" readonly = "true">
			</form>
		</div>
		<div id = "buttons">
			<button onClick = "resetBoard();">Reset Board</button> <br>
			<button onClick = "resetScore();">Reset Wins</button>
		</div>
	</div>


	<div id = "gamearea">
		<div id = "col0" onClick = "addCircle(0, app.player);  target(0, app.player); 
			checkIfWin(app.player); switchPlayer(app.player);">
			
		</div>
		
		<div id = "col1" onClick = "addCircle(1, app.player); target(1, app.player); 
			checkIfWin(app.player); switchPlayer(app.player)">
		
		</div>
		
		<div id = "col2" onClick = "addCircle(2, app.player); target(2, app.player); 
			checkIfWin(app.player); switchPlayer(app.player)">
		
		</div>
		
		<div id = "col3" onClick = "addCircle(3, app.player); target(3, app.player); 
			checkIfWin(app.player); switchPlayer(app.player)">
		
		</div>
		
		<div id = "col4" onClick = "addCircle(4, app.player); target(4, app.player); 
			checkIfWin(app.player); switchPlayer(app.player)">
		
		</div>
		
		<div id = "col5" onClick = "addCircle(5, app.player); target(5, app.player); 
			checkIfWin(app.player); switchPlayer(app.player)">
		
		</div>
		
		<div id = "col6" onClick = "addCircle(6, app.player); target(6, app.player); 
			checkIfWin(app.player); switchPlayer(app.player)">
		</div>
	</div>
</div>